<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clock</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div id="clock-digital"></div>
    <div id="clock-whole">
        <img id="center-nail" src="../img/centerNail.png" alt="nail">
        <img class="clock-hand seconds" src="../img/clockhand.png" alt="seconds">
        <img class="clock-hand minutes" src="../img/clockHandMinutes.png" alt="minutes">
        <img class="clock-hand hours" src="../img/clockHandHours.png" alt="hours">
        <img id="clock-shield" src="../img/clock-shield-white.png" alt="clock-shield">
    </div>
    <script src="../js/script.js" async></script>
</body>
</html>